<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated catalogue -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="mc2.presentation.Mc2ModelWizardID"
            name="%_UI_Mc2ModelWizard_label"
            class="mc2.presentation.Mc2ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Mc2ModelFile.gif">
         <description>%_UI_Mc2ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated catalogue -->
      <editor
            id="mc2.presentation.Mc2EditorID"
            name="%_UI_Mc2Editor_label"
            icon="icons/full/obj16/Mc2ModelFile.gif"
            extensions="mc2"
            class="mc2.presentation.Mc2Editor"
            contributorClass="mc2.presentation.Mc2ActionBarContributor">
      </editor>
   </extension>

</plugin>
