<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated catalogue -->
      <package
            uri="http://mc2"
            class="mc2.Mc2Package"
            genModel="model/catalogue.genmodel"/>
   </extension>

</plugin>
